body{
    background-image: url("../images/crowd.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: black;
}

.meme-container {
    background: rgba(0, 0, 0, 0.74);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    margin: -300px 0 0 -300px;
}

.meme-picture{
    /* border-color: white; */
    width: 500px;
    height: 300px;
    border-radius: 6px;
}