body{
    background-image: url("../images/crowd.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: black;
}
#container{
    width: 200%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 50px;
}
.meme-container {
    background: rgba(0, 0, 0, 0.74);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    margin: -300px 0 0 -300px;
    color: white;
}

.meme-picture{
    /* border-color: white; */
    width: 500px;
    height: 300px;
    border-radius: 6px;
}
@media screen and (max-width: 600px){
    .gif-img{
        width: 290px;
        height: 200px;
    }
    .meme-container>h3,{
        font-size: 12px;
    }
}