body {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.507)), url('../images/crowd.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.container{
}

.full-screen{
    width: 100%;
    height: 100vh;
    border: 1px white solid;
}


.center{
    justify-content: center;
}
input{
    border-radius: 3px;
    width: 300px;
    text-align: center;
    border: none;
    padding: 3px;
}
/* Header */
.header{
    text-align: center;
    color: white;
    display: flex;
    align-items: center; 
}
.head-content>*{
    margin: 10px 0;
}
#app-title{
    font-size: 20vh;
}
#logo{
    width: 10vh;
    height: 10vh;
    text-align: center;

}
/* Info-character */
.instructions{
    height: 200px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 10px;
    margin: 20px 0;
    border-radius: 20px;
    color: white;
}

.user-chars{
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    border: white 1px solid;
    height: 50vh;
    text-align: center;
}
/* hype-chars */
.hype-chars{
    color: white;
    text-align: center;
 
}
#hype-info{
    margin: 10% 0;
}
.hype-char{
    height: 30vh;
    text-align: center;
    color: white;
}
.hype-char>img{
}
/* build-rap */
.build-rap{
    display: flex;
    align-items: center; 
    color: white;
}
.user-rap{
    background: black;
    border-radius: 10px;
    min-height: 50vh;
    padding: 20px 30px;
    text-align: center;
}

/* battle */
/* Footer */
footer{
    height: 100px;
    background: black;
    text-align: center;
    display: flex;
    align-items: center; 
}
footer>p{
    text-align: center;
}